{% load static %}
<div>{% for pos in post %}
    <div class="container" id="{{pos.id}}">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="post-card">
                    <img src="{{pos.image.url}}" alt="Post Image" class="post-image"
                        style="height: 584px; width:468px;">
                    <div class="post-content">
                        <h5><a href="/profile/{{pos.user}}" style="text-decoration: none;">@{{pos.user}}</a></h5>
                        <p>{{pos.caption}}</p>
                        <p class="text-muted">{{pos.created_at}}</p>
                        <hr>
                        <div class="d-flex justify-content-between">

                            <a href="/like-post/{{pos.id}}" class="btn btn-outline-primary">Like</a>
                            <!-- <a href="#{{pos.id}}">hello</a> -->

                            {% if pos.no_of_likes == 0 %}
                            <p>0</p>
                            {% elif pos.no_of_likes == 1 %}
                            <p>Liked by {{pos.no_of_likes}} person</p>
                            {% else %}
                            <p>Liked by {{pos.no_of_likes}} people</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>