{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/cb792c0850.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{{user_profile.user}}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <style>
        /* Custom styles for the sidebar */
        .sidebar {
            background-color: #f8f9fa;
            height: 100vh;
            color: black;
        }

        .profile-pic {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }

        a {
            color: black;
        }

        .image-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
        }

        .image-item {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .image-item:hover {
            border: 1px solid #777;

        }

        .image-item img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    {% load static %}

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar" style="position: fixed;">
                <div class="text-center mt-3">
                    <img src="{{profile.profileimg.url}}" alt="Profile Picture" class="profile-pic">
                    <h4 class="mt-2"><a href="/profile/{{user}}" style="text-decoration:none;">@{{user}}</a></h4>
                </div>
                <ul class="nav flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            <i class="fa-solid fa-house mr-1"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/explore">
                            <i class="fa-solid fa-compass mr-1"></i> Explore
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                            <i class="fa-solid fa-magnifying-glass mr-1"></i> Search
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2"
                            data-bs-whatever="@getbootstrap">
                            <i class="fa-solid fa-circle-plus mr-1"></i> Create Post
                        </a>


                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/{{user}}">
                            <i class="fa-solid fa-user mr-1"></i> Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logoutt">
                            <i class="fa-solid fa-right-from-bracket mr-1"></i> Logout
                        </a>
                    </li>
                </ul>
            </nav>
            {% load static %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <!-- Your main content goes here -->
                {% include "search.html" %}
                {% include "profile_upload.html" %}
                {% include "edit_profile.html" %}
                <section class="gradient-custom-2">
                    <div class="container py-5">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col-lg-9 col-xl-7">
                                <div class="card">
                                    <div class="rounded-top text-white d-flex flex-row"
                                        style="background:black; height:200px;">
                                        <div class="ms-4  d-flex flex-column" style="width: 150px; margin-top:5rem;">
                                            <img src="{{user_profile.profileimg.url}}" alt="Generic placeholder image"
                                                class="img-fluid img-thumbnail mt-4 mb-2"
                                                style="width: 150px; z-index: 1">

                                            {% if user == user_profile.user %}
                                            <button type="button" class="btn btn-outline-dark"
                                                data-mdb-ripple-color="dark" style="z-index: 1; margin: 5px;"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal1"
                                                data-bs-whatever="@getbootstrap">
                                                Edit profile
                                            </button>

                                            {% endif %}




                                        </div>
                                        <div class="ms-3" style="margin-top: 130px;">
                                            <h5>@{{user_profile.user}}</h5>

                                            <p><i class="fa-solid fa-location-dot"></i> {{user_profile.location}}</p>

                                        </div>
                                        <div style="margin-inline-start: auto; margin-top: auto;background:white;">
                                        <form action="/follow" method="POST">
                                            {% csrf_token %}  {% if user != user_profile.user %}
                                            <input type="hidden" value="{{user.username}}" name="follower" />
                                            <input type="hidden" value="{{user_object.username}}" name="user" />
                                            <button type="submit" class="btn btn-outline-dark"
                                                data-mdb-ripple-color="dark" style="z-index: 1; margin: 5px;"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal1"
                                                data-bs-whatever="@getbootstrap">
                                                {{follow_unfollow}}
                                            </button>

                                            {% endif %}
</form>
                                        </div>

                                    </div>
                                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                                        <div class="d-flex justify-content-end text-center py-1">
                                            <div>
                                                <p class="mb-1 h5">{{user_post_length}}</p>
                                                <p class="small text-muted mb-0">Photos</p>
                                            </div>
                                            <div class="px-3">
                                                <p class="mb-1 h5">{{user_followers}}</p>
                                                <p class="small text-muted mb-0">Followers</p>
                                            </div>
                                            <div>
                                                <p class="mb-1 h5">{{user_following}}</p>
                                                <p class="small text-muted mb-0">Following</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-4 text-black">
                                        <div class="mb-5">
                                            <p class="lead fw-normal mb-1">About</p>
                                            <div class="p-4" style="background-color: #f8f9fa;">
                                                <p class="font-italic mb-1">{{user_profile.bio}}</p>
                                            </div>

                                        </div>
                                        <div class="mb-5">
                                            <p class="lead fw-normal mb-1">Photos</p>



                                        </div>
                                        <div class="image-grid">
                                            {% for pos in user_posts %}
                                            <div class="card image-item">
                                                <img src="{{pos.image.url}}" class="card-img-top" alt="..."
                                                    style="width: 219px;height: 219px;">

                                                <div class="card-body">
                                                    <h5 class="card-title">{{pos.caption}}</h5>
                                                    {% if user == user_profile.user %} <a href=" /delete/{{pos.id}} "><i
                                                            class="fa-solid fa-trash"></i></a>


                                                    {% endif %}
                                                </div>
                                            </div>


                                            {% endfor %}
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </main>

        </div>
    </div>

    <script src="{% static 'js/app.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>